.view-products-container {
	margin: auto;
	width: 40vw;
	text-align: center;
	padding: 0.5rem;
}

.btnSend {
	background-color: #0d6efd;
	color: #fff;
	border: none;
	padding: 0.5rem;
	border-radius: 3px;
	margin: 0 5px 0 5px;
}
.btnSend:hover {
	background-color: #0b5ed7;
	cursor: pointer;
}

.btnDel {
	background-color: #dc3545;
	color: #fff;
	border: none;
	padding: 0.5rem;
	border-radius: 3px;
	margin: 0 5px 0 5px;
}
.btnDel:hover {
	background-color: #bb2d3b;
	cursor: pointer;
}

.input-form-control {
	padding: 0.375rem 0.75rem;
	font-size: 1 rem;
	font-weight: 400;
	line-height: 1.5;
	border-radius: 5px;
	border: 2px solid;
}

table {
	border-collapse: collapse;
	border: 1px solid #000;
	width: 100%;
}

table td {
	border: 1px solid #000;
	padding: 0.4rem;
}
