html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #ebebeb;
}
.main-container {
	min-height: 100vh;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto 1fr 40px;
}
.header {
	grid-column: 1/7;
}
.nav {
	grid-column: 1/7;
}
.container-items {
	grid-column: 1/7;
	justify-content: center;
	padding: 10px;
}
.footer {
	/* grid-area: footer; */
	grid-column: 1/7;
	background-color: black;
	color: #fff;
	display: flex;
	justify-content: center;
}

.grid-nested {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	position: relative;
	top: 0;
}

.grid-nested > * {
	min-width: 300px;
	max-width: 300px;
	margin: 5px;
	background-color: #fff;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.img-item-conteiner {
	max-width: 250px;
	max-height: 200px;
}
.img-item-conteiner > img {
	max-width: inherit;
	max-height: inherit;
}
.bnt-vew-cart {
	position: fixed !important;
	top: 50vh !important;
	right: -86px !important;
	transition: 0.3s !important;
	text-align: left !important;
}
.bnt-vew-cart:hover {
	right: 0px !important;
}
.icon-cart {
	font-size: 20px;
}
.items-cart-container {
	display: grid;
}

.item-cart {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: thin solid;
	margin-bottom: 5px;
}

.img-cart-item-conteiner {
	max-width: 70px;
	max-height: 70px;
	margin-right: 5px;
}

.items-container-buttons > * {
	position: relative !important;
	margin: auto;
	top: 15%;
}
.img-cart-item-conteiner > img {
	max-width: inherit;
	max-height: inherit;
}

.container-form-contact {
	background-color: #fff;
	max-width: 600px;
	margin: auto;
	margin-top: 10vh;
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 20px;
	border-radius: 5px;
}
