body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.contadorContainer{
  width: 20vw;
  margin: auto;
  margin-top: 100px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  background-color: #27AE60;
}
