/*ciclos*/
.circle{
    width: 100px;
    height: 100px;
    background-color: #000;
    border-radius: 50%;

    animation-duration: 1s;
    animation-iteration-count: intinite;
    animation-direction: alternate;
}

@for $iterador from 1 through 5{
    .circle-#{$iterador}{
        animation-name: animacion#{$iterador};
        @keyframes animacion#{$iterador}{
            100%{
                transform: translate(50% * $iterador);
            }
        }
    }
}
