/*VARIABLES GLOBALES*/
$color-primario: steelblue;
$display: "display";

body{
    font-family: Arial, Helvetica, sans-serif;
}

/*neesting con BEM*/

.nav{
    background-color: $color-primario;

    &__container{
        width: 90%;
        margin: 0 auto;
        height: 70px;
        #{$display}: flex; /*lo mismo para el selector INTERPOLACIÓN*/
        align-items: center;
        justify-content: space-evenly;
        gap: 1em;
    }
    &__item{
        color: #fff;
        text-decoration: none;

        &--active{
            text-decoration: underline;
        }

    }

    @media (min-width: 764px){
       &__container{
        justify-content: flex-end;
       }
    }
}