@use 'mixinsfunc';


.hero{
    &__container{
        height: calc(100vh - 70px);
        background-image: linear-gradient(#0000006d, #0000007b);
        @include mixinsfunc.crear-flexbox(center);
    }

    &__texts{
        color: #fff;
    }

    &__title{
        font-size: mixinsfunc.pixeles-rem(30);

    }
}