/*mixins: Definen estilos que pueden ser reutilizados*/
@use 'sass:math';

@mixin crear-flexbox($justify){
    display: flex;
    align-items: center;
    justify-content: $justify;
}

@function pixeles-rem($pixeles){
    $rem: math.div($pixeles, 16) * 1rem;

    @return $rem
}