@charset "UTF-8";
/*VARIABLES GLOBALES*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

/*neesting con BEM*/
.nav {
  background-color: steelblue;
}
.nav__container {
  width: 90%;
  margin: 0 auto;
  height: 70px;
  display: flex; /*lo mismo para el selector INTERPOLACIÓN*/
  align-items: center;
  justify-content: space-evenly;
  gap: 1em;
}
.nav__item {
  color: #fff;
  text-decoration: none;
}
.nav__item--active {
  text-decoration: underline;
}
@media (min-width: 764px) {
  .nav__container {
    justify-content: flex-end;
  }
}

/*mixins: Definen estilos que pueden ser reutilizados*/
.hero__container {
  height: calc(100vh - 70px);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4274509804), rgba(0, 0, 0, 0.4823529412));
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__texts {
  color: #fff;
}
.hero__title {
  font-size: 1.875rem;
}

/*# sourceMappingURL=style.css.map */
